[submodule "third_party/assimp"]
	path = third_party/assimp
	url = https://github.com/assimp/assimp.git
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "third_party/ShaderWriter"]
	path = third_party/ShaderWriter
	url = https://github.com/DragonJoker/ShaderWriter
