[submodule "third_party/imgui"]
    path = third_party/imgui
    url = https://github.com/ocornut/imgui.git
[submodule "external/glfw"]
    path = external/glfw
    url = https://github.com/glfw/glfw.git
[submodule "external/assimp"]
    path = external/assimp
    url = https://github.com/assimp/assimp.git
[submodule "external/shaderc"]
    path = external/shaderc
    url = https://github.com/google/shaderc.git
[submodule "external/ShaderWriter"]
    path = external/ShaderWriter
    url = https://github.com/DragonJoker/ShaderWriter.git
[submodule "external/Texas"]
	path = external/Texas
	url = https://github.com/Didgy74/Texas.git
[submodule "resources/Vulkan-Samples-Assets"]
	path = resources/Vulkan-Samples-Assets
	url = https://github.com/KhronosGroup/Vulkan-Samples-Assets.git
[submodule "resources/illumination_assets"]
	path = resources/illumination_assets
	url = ssh://git@git.isartintra.com:2424/2020/MGP2_2021_Illumination_Engine/02_Assets.git
[submodule "external/astc-codec"]
	path = external/astc-codec
	url = https://github.com/google/astc-codec.git
